.mainWrapper{
    height: 100%;
    align-content: center;
    margin: 10rem;

}
.messageSection{
    display: flex;
    flex-direction: row;
    gap:10px;
}
.joinChat{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}
.joinChatWindow{
    width: 500px;
    align-items: center;
}
.guestMessage{
    padding: 10px;
    background-color: aqua;
    border: black 1px solid;
    text-align: left;
}
.myMessages{
    padding: 10px;
    background-color: red;
    border: black 1px solid;
    text-align: right;
}